body {
    background: hsl(0, 20%, 52%);
    height: 100%;
    margin: 0;
}

.bday-card {
    position: relative;
    width: 420px;
    height: 500px;
    border: 10px solid hwb(0 33% 67%);
    margin: 60px auto 0 auto;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    .outer-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: -10px 0 0 -10px;
        border: 10px solid hwb(0 33% 67%);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        transform: perspective(800px) rotateY(0deg);
        transition: all 0.8s ease-in-out;

        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
            border-radius: 5px;
            
        }

        .outer-cover-text {
            position: absolute;   /* take it out of normal flow */
            top: 1%;              /* push it to the top */
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            z-index: 3;           /* stay above image */
            pointer-events: none;
            text-align: center;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
}

        .outer-cover-text h1 {
           color: white;
            font-size: 28px;
            text-shadow:
            0 0 5px black,
            0 0 10px black,
            0 0 20px red;
            font-family: 'Impact', 'Charcoal', sans-serif;
            font-style: italic;
            text-transform: uppercase;

        }

    }

    .inner-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        border: 10px solid hwb(0 33% 67%);
        background-color: hwb(0 33% 67%);
        margin: -10px 0px 0 -10px;
        backface-visibility: visible;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        transform: perspective(800px) rotateY(0deg);
        transition: all 0.8s ease-in-out;
        overflow: hidden;

        img {
            transform: rotateY(170deg);
        }


    }

  

}

.bday-card.open {
    .outer-cover {
        transform: perspective(800px) rotateY(-170deg);
    }    

    .inner-cover {
        transform: perspective(800px) rotateY(-170deg);
        box-shadow: 7px 0px 5px 0 rgba(0, 0, 0, 0.3),
            inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }
}


#btnOpenCard {
    display: inline-block;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff0000, #ff4d4d);
    border: 2px solid #ff0000;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px #ff0000, 0 0 30px #ff4d4d;
    
    position: absolute;
    top: 50%;            
    left: calc(50% + 300px); 
    transform: translateY(-50%);


}


#btnOpenCard:hover {
    box-shadow: 0 0 25px #ff0000, 0 0 50px #ff4d4d;
}

#btnCloseCard {
display: inline-block;
padding: 12px 30px;
font-size: 18px;
font-weight: bold;
color: #fff;
background: linear-gradient(45deg,  #ff0000, #ff4d4d);
border: 2px solid #ff0000;
border-radius: 30px;
cursor: pointer;
transition: all 0.3s ease-out;
box-shadow: 0 0 15px #ff0000, 0 0 30px #ff4d4d;

position: absolute;
top: 30%;
left: calc(50% + 300px);
transform: translateY(-30%);


}

#btnCloseCard:hover {
    box-shadow: 0 0 25px #ff0000, 0 0 50px #ff4d4d;
}


.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 60px 30px;
    box-sizing: border-box;

    text-align: center;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.6s ease;
}


.bday-card.open .content {
    opacity: 1;
    transition-delay: 0.6s;
}

.content h2 {
    font-size: 26px;
    color: #000000;
    text-shadow: 0 0 10px red;
    font-family: 'Impact', sans-serif;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
}